.contactUs__container {
  .contactUs__container__topbar,
  .contactUs__container__landing__hiddenMenu__topbar {
    width: 100%;
    padding: 25px 35px 25px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    button {
      background: transparent !important;
      outline: none;
      border: none;
      cursor: pointer;
      i {
        font-size: 30px;
        font-weight: 500;
        color: #000;
      }
    }
  }

  .contactUs__container__landing__hiddenMenu__topbar {
    background: #fff;
  }

  // @section => hidden menu
  .contactUs__container__landing__hiddenMenu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    flex: 1;
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .contactUs__container__landing__hiddenMenu__items {
      list-style: none;
      height: 100%;
      width: 100%;
      padding: 0 50px;

      a {
        color: #ffff;
        text-decoration: none;
        font-size: 32px;
        line-height: 1.8;
        transition: all 0.3s ease-in-out;

        &:hover {
          border-left: 2px solid #fff;
          padding-left: 25px;
        }
      }

      &.left {
        background: #34495e;
        flex: 3;
        padding-top: 22vh;
      }

      &.right {
        background: #2c3e50;
        text-align: right;
        flex: 2;
        padding-top: 15vh;

        a {
          font-family: "Playfair Display", serif;
          font-size: 50px;
          font-weight: 700;

          &:hover {
            border-right: 2px solid #fff;
            padding-right: 25px;
          }
        }
      }
    }
  }

  .contactUs__container__form {
    padding: 0 5vw;
    margin-top: 20px;
    margin-bottom: 80px;

    h1 {
      font-size: 50px;
      font-weight: 700;
      font-family: "Playfair Display", serif;
    }

    .divider {
      width: 100px;
      height: 3px;
      background: #9f1718;
      margin: 20px 0 30px 0;
    }

    .contactUs__container__form__inputs {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .contactUs__container__form__inputs__input {
        &.left {
          flex: 3;

          input, textarea {
            width: 90%;
            margin-bottom: 20px;
            border: 0.3px solid #7a7a7a;
            border-radius: 5px;
            padding: 15px;
            font-size: 16px;
            margin-right: 15px;

            @media (max-width: 768px) {
              width: 100%;
              margin-bottom: 20px;
            }
          }

          input[type="checkbox"]{
            width: 20px;
            height: 20px;
            margin-right: 15px;
          }
        }

        &.right {
          flex: 2;

          iframe {
            @media (max-width: 992px) {
              margin-top: 40px;
              width: 90vw;
            }
          }
        }
      }
    }

    .MuiButton-root{
        display: block;
        background: #9F1718;
        color: #fff;
        padding: 10px 35px;
        margin-top: 10px;
    }
  }
}
