.boardMembersCarousel__container {
  text-align: center;

  .sc-bdvvtL,.cNNJIt,.rec,.rec-arrow,.rec,.rec-arrow-right,
  .jRFJkP,.rec-arrow-left{
      background: transparent!important;
      box-shadow: none!important;

      &:disabled{
        cursor: not-allowed;
        background: transparent!important;
      box-shadow: none!important;
      }
  }

  .boardMembersCarousel__container__item {
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .boardMembersCarousel__container__memberName {
      font-weight: 600;
      margin-bottom: 3px;
    }

    .boardMembersCarousel__container__position {
      color: #7a7a7a;
      margin-bottom: 20px;
    }

    .boardMembersCarousel__container__message{
        font-size: 20px;
        max-width: 450px;
        line-height: 1.7;
        margin-bottom: 30px;
    }

    .boardMembersCarousel__container__socialLinks{
        ul {
            list-style: none;
            margin-bottom: 30px;

            li{
                display: inline-block;
                margin: 0 10px;

                a{
                    text-decoration: none;
                    color: #000;
                    i{
                        font-size: 22px;
                    }
                }
            }
        }
    }
  }
}
