.kindnessCard__container {
    max-width: 280px;
    margin-top: 60px;

    @media (max-width: 1200px) {
        max-width: 340px;
    }
    
    @media (max-width: 768px) {
        max-width: 100%;
    }

    a{
        text-decoration: none;
        color: #000;
    }

  img{
      width: 100%;
      height: 150px;
      object-fit: cover;
      margin-bottom: 10px;
  }

  .kindnessCard__container__title{
      font-weight: 600;
      margin-bottom: 10px;
      padding: 0 3px;
  }

  .kindnessCard__container__description{
      line-height: 1.5;
      padding: 0 3px;

  }
}
